res/seriesindex.dtd

<!ELEMENT seriesindex (series+)>

<!ELEMENT series(episodes|alias)*>
<!ATTLIST series name CDATA #REQUIRED>
<!ATTLIST series receive_updates (true|false) "true">

<!ELEMENT episodes(episode*)>
<!ATTLIST episodes lang (de|en|fr) "de">

<!ELEMENT episode EMPTY>
<!ATTLIST episode name CDATA #REQUIRED>

<!ELEMENT alias EMPTY>
<!ATTLIST alias to CDATA #REQUIRED>
