res/seriesindex.dtd

<!ELEMENT seriesindex (series+)>

<!ELEMENT series(episodes|alias)*>
<!ATTLIST series name CDATA #REQUIRED>
<!ATTLIST series receive_updates (true|false) "true">

<!ELEMENT episodes(episode*)>
<!ATTLIST episodes lang (de|en|fr) "de">

<!ELEMENT episode EMPTY>
<!ATTLIST episode name CDATA #REQUIRED>
<!ATTLIST episode all_before (true|false) "false">
<!-- set this on an episode and all episodes before has also been watched -->

<!ELEMENT alias EMPTY>
<!ATTLIST alias to CDATA #REQUIRED>
